@use '../../scss/' as *;

.home {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 100%;
	padding-top: 20px;

	// Logo
	&__logo {
		margin-bottom: 30px;
		& img {
			object-fit: cover;
			@include md {
				transform: scale(0.8);
			}
		}
	}

	// Banner
	&__banner {
		max-width: 1510px;
		margin: 0 auto 40px;
		padding: 38px 269px;

		text-align: center;

		background-color: $bg-gray-color;

		@include lg {
			padding: 38px 10px;
		}
		&-heading {
			margin-bottom: 18px;

			font-size: 18px;
			font-weight: 700;
		}
		&-text {
			font-size: 16px;
			font-weight: 400;
			max-width: 980px;
		}
	}

	// Container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 50px;

		max-width: 1510px;
		@include md {
			flex-direction: column;
		}
	}

	&__post {
		flex: 1;
		@include md {
			text-align: center;
		}

		&-title {
			margin-bottom: 18px;

			font-size: 24px;
			font-weight: 700;

			color: $black-color;
		}
		&-img {
			width: 128px;
			height: 128px;
			margin-right: 16px;
			float: left;
			@include md {
				float: unset;
				margin: 0 auto 20px;
			}
		}
		&-text {
			font-size: 16px;
			font-weight: 400;
		}
	}
}
