@use '../../scss/' as *;

.footer {
	width: calc(100% - $sidebar-width);
	padding: 30px 129px;
	margin-left: $sidebar-width;

	border-top: 1px solid #dedede;

	font-weight: 400;
	font-size: 16px;

	color: #3e3e3e;
	@include md {
		width: 100%;
		margin: 100px 0 0;
		padding: 30px 10px;
	}
}
