@use './variables' as *;
@use './breakpoint' as *;

body {
	font-family: $font-family;
	font-size: 16px;
	font-weight: 400;
	overflow-x: hidden;
}

.wrapper {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	position: relative;
	padding: 0 10px;
	min-height: calc(100vh - $navbar-height);
	margin-left: $sidebar-width;

	@include md {
		margin-left: unset;
		margin-top: $navbar-height;
	}
}
