@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$font-family: 'Roboto', sans-serif;

$black-color: #000;
$white-color: #fff;
$bg-gray-color: #efefef;
$bg-gray-2-color: #5c5c5c;
$text-gray-color: #aaa;

$sidebar-width: 150px;
$navbar-height: 60px;

$sm-bp: 480px;
$md-bp: 768px;
$lg-bp: 1024px;
